<h1>Listing detalles_movimientos_stocks</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @detalles_movimientos_stocks.each do |detalle_movimiento_stock| %>
  <tr>
    <td><%= link_to 'Show', detalle_movimiento_stock %></td>
    <td><%= link_to 'Edit', edit_detalle_movimiento_stock_path(detalle_movimiento_stock) %></td>
    <td><%= link_to 'Destroy', detalle_movimiento_stock, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Detalle movimiento stock', new_detalle_movimiento_stock_path %>
