<h1>Listing detalle_factura_venta</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @detalle_factura_venta.each do |detalle_factura_ventum| %>
  <tr>
    <td><%= link_to 'Show', detalle_factura_ventum %></td>
    <td><%= link_to 'Edit', edit_detalle_factura_ventum_path(detalle_factura_ventum) %></td>
    <td><%= link_to 'Destroy', detalle_factura_ventum, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Detalle factura ventum', new_detalle_factura_ventum_path %>
