/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
.footer{
   width: 1000px;
  position: relative;
  margin-top: -150px;
  clear: both;
   bottom: 0 !important;
   bottom: -1px;
   text-align: center;
    margin-left: 50px;
}
.centrar{
   margin-left:320px;
   width: 530px;
   margin-top: 50px;
}

.centrar-guardar{
   margin-left:20px;
}

.centrar-close{
   margin-left:320px;
}

.centrar h4{
	margin-left: 120px;
  font-family: Helvetica;
  font-size: 40px;
  font-style: oblique;
  margin-top: 25px;
}

.centrar-div-producto{
  margin-left: 120px;
}

.mismalinea{
    float:left;
}
.mismalinea-espacio{
    float:left;
    margin-left:5px;
}
.mismalinea-espacio-grande{
    float:left;
    margin-left:30px;
}
.abajo{
    clear: both;
    margin-left: 15px;
}
.abajo-factura{
    margin-left: 20px;
    margin-top: 150px;
}
.centrar-solo-un-componente{
	margin-left: 500px;
}
.centrar-solo-un-componente h4{
	margin-left: 95px;
}
.mover{
      margin-left:60px;
}
.mover h4{
      margin-left:350px;
}
}
.texto{

      text-align: justify;
      font-size: 18px;
      font-family:Time below;
      color:black;
      margin-left: 120px;
      margin-right: 120px;
}

/*.homepageHero{
  background-image: url(../images/home.jpg) no-repeat ;
  min-height: 420px;
border-bottom: 1px solid #fff;
position: relative;

}*/

