<div class="navbar">
			<div class="navbar-inner">
				<ul class="nav">
							<li class="active"><a href="">Home</a></li>
				</ul>
				
				<ul class="nav">
							<li class="active"><a href="">Ventas</a></li>
				</ul>
				
				<ul class="nav">
							<li class="active"><a href="">Productos</a></li>
				</ul>
				
				<ul class="nav">
							<li class="active"><a href="">Clientes</a></li>
				</ul>
				
				<ul class="nav">
							<li class="active"><a href="">Cta Cte Ventas</a></li>
				</ul>
				
				
				<ul class="nav">
							<li class="active"><a href="">Conf del Sistema</a></li>
				</ul>
	         </div>
	 </div>