$('#alert-destroy').html('<strong> ALERTA. </strong> No se puede eliminar, el dato est&aacute siendo utilizado. <button type="button" class="close" data-dismiss="alert" onClick="cerrar();">&times;</button>');
$('#alert-destroy').show();