<% provide(:title, 'Inicio') %>

	<div  class="span11 offset1" align="center">
	    <h3 align="center"> Pagina de Reportes </h3>
	</div>
	<div class="container">  
		<div class="span10">
		  	<div id="filters" class="row">
				<%= render 'filters' %>
			</div>
		</div>
		<div id="graphic" class="row">
			<%= render 'graphic' if @table and @chart %>
		</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		var path_two = '<%= consult_between_reports_path %>';
		change_data_by_filters(path_two);
		$("#button_find").hide();
		$( "#slider-range" ).slider({
			change: function (event, ui) {
          var _from = $("#from").val();
          var _to = $("#to").val();
          var range = $("input[name='radio']:checked").attr('id');
          var path = path_two;
          $.ajax({
            url: path,
            data: { "from": _from, "to": _to, "select_range": range },
            async: true,
            dataType: 'script'
          });
	      }
	    });
	});
</script>