<% provide(:title, 'Home') %>
<div class="hero-unit">
<div class="homepageHero">
  <h1>Bienvenidos a nuestra página!</h1>
  <p>
    Texto principal de bienvenida a nuestra página. Prueba a redimiensinar el 
    navegador y comprobará como se adapta el diseño al nuevo tamaño.
  </p>
  <p><a class="btn btn-primary btn-large">Más información</a></p>
</div>
</div>
