<% provide(:title, 'Home') %>
<div class="">
	<div class="" id="home">
  		<div class="span5 offset2">
	 		<h1 id="welcome">
	 			Bienvenidos
	 			<br/>
	 			Sistema de Facturaci&oacuten
	 		</h1>
	  		<h2 id="subwelcome">
	  			El sistema de Facturaci&oacuten tiene por objetivo 
	  			<br/>
	  			brindarle flexibilidad y facilidad para realizar  
	  			<br/>
	  			su gesti&oacuten de venta y facturaci&oacuten.
	  		</h2>
	  		<div class="span3" id="helpbox" align="center">
	  			<p> Aprende como utilizar el sistema </p>
	  			<%= link_to "Ayuda", helps_path, class: "btnhelp" %>
	  		</div>
  		</div>
  		
	</div>
</div>
