<% provide(:title, 'Home') %>
<div class="hero-unit">
<div class="homepageHero">
  <h3>Bienvenidos al Sistema de Ventas!</h3>
  <p>
  	<br/>
  	<br/>
    Te damos la bienvenida a este sistema<br/>
    en el cual podras realizar las operaciones <br/>
    basicas de un sistema de facturacion. <br/><br/>
<br/>
  </p>
  <%= link_to "Ayuda", helps_path, class: "btn"%>
</div>
</div>
