<h1>Listing factura_venta</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @factura_venta.each do |factura_ventum| %>
  <tr>
    <td><%= link_to 'Show', factura_ventum %></td>
    <td><%= link_to 'Edit', edit_factura_ventum_path(factura_ventum) %></td>
    <td><%= link_to 'Destroy', factura_ventum, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Factura ventum', new_factura_ventum_path %>
