<<<<<<< HEAD
<div class="row">
    <div class="span7">
		<% if object.errors.any? %>
		  <div class="alert alert-block">
		    <strong>Atencion! </strong>
		    El formulario contiene <%= pluralize(object.errors.count, "error") %>.
		  </div>
		<% end %>	
     </div>	
 </div>		
=======
<% if object.errors.any? %>
  <div class="alert alert-block">
    El formulario contiene <%= pluralize(object.errors.count, "error") %>.
  </div>
<% end %>
>>>>>>> a8cb3eda73d7ee3e1525e0c3ee72e2444a5b51e2
