<%= form_for(@funcion) do |f| %>
  <% if @funcion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@funcion.errors.count, "error") %> prohibited this funcion from being saved:</h2>

      <ul>
      <% @funcion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
