<h1>Listing funcions</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @funcions.each do |funcion| %>
  <tr>
    <td><%= link_to 'Show', funcion %></td>
    <td><%= link_to 'Edit', edit_funcion_path(funcion) %></td>
    <td><%= link_to 'Destroy', funcion, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Funcion', new_funcion_path %>
